.dataset-modal {
  width: 623px !important;
  .ant-modal-footer {
    display: flex;
    justify-content: space-between;
    button {
      width: 140px;

      &:last-child {
        margin-left: 16px;
      }
    }
  }

  .dataset-form {
    .ant-form-item {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
} 