$result-flow-cls: ysd-result-flow;

.#{$result-flow-cls} {
  width: 100%;


  .#{$result-flow-cls}-load {
    text-align: center;
    padding: 100px 0;
  }

  .#{$result-flow-cls}-nodata {
    padding: 50px 0;

    .#{$result-flow-cls}-nodata-img {
      background-image: url(./no-data.png);
      background-repeat: no-repeat;
      width: 220px;
      height: 220px;
      padding-top: 195px;
      text-align: center;
      color: rgba(28, 29, 31, 0.85);
      margin: 0 auto;
    }
  }



  .#{$result-flow-cls}-data {
    position: relative;
  }
}