.import-data-modal {
  .ant-upload-drag {
    height: 200px;
  }

  .import-data-modal-tabs {
    .ant-tabs-content {
      min-height: 400px;
    }
  }
  .import-data-modal-content-tabs {
    .ant-tabs-content {
      min-height: unset;
    }
  }

  .ant-transfer {
    justify-content: space-between;
    .ant-transfer-list-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      .ant-pagination {
        margin: 0;
      }
    }
  }

  .dynamic-delete-button {
    color: #ff4d4f;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 8px;

    &:hover {
      color: #ff7875;
    }
  }

  .ant-form-item {
    margin-bottom: 24px;
  }

  .explain-data {
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-top: 10px;
    // opacity: 0.7;
    color: rgba(34,34,38,0.5);

    p {
      margin: 0 0 10px 0;
    }
    ul {
      padding-left: 20px;
      list-style-type: disc;

      li {
      }
    }
  }
}
